{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">manageenginelatam@zohocorp.com</span>
				<span  class="px-2">+57 3100522500</span>
				<span  class="px-2">Chia, Cundinamarca</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<a href="https://www.facebook.com/ManageEngineLA/?locale=es_LA">
					<img src="{% static 'images/icons/feisicon.ico' %}"></i>
				</a>
				<a href="https://www.instagram.com/manageenginela/">
					<img src="{% static 'images/icons/igicon.ico' %}"></i>
				</a>
				<a href="https://twitter.com/ManageEngineLA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
					<img src="{% static 'images/icons/twicon.ico' %}"></i>
				</a>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->